body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    
}
    
div {
    width: 100%;
    display: flex;
}





.all {
    flex-direction: column; 
    background-color: white;
    flex-basis: 100%;
}
 



  
.header { 
    height: 61vw;
    background-image: url(images/main_page/header.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.header div {
    justify-content: center;
}

.menu {
    flex-basis: 100%;
}

.menu ul {
    margin: auto;
    list-style: none;
    text-align: right;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    margin: 2%;  
    font-size: 3vw;
    font-family: "Century Gothic";
}

.my_account_button, .play_button {
  width: 15vw;
  border-radius: 50%;
  border: 0;
}

.my_account_button:hover, .play_button:hover {
  cursor: pointer;
}





.creation {
    justify-content: center;
    background-color: #FFFFFF;
    flex-direction: column; 
    text-align: center;
}

.creation .parts div{
    text-align: center;
    flex-direction: column; 
    margin: 5%;  
}





.catalog {
    justify-content: center;
    background-color: #FFF5C1;
    flex-direction: column; 
    text-align: center;
}

.catalog .cats div {
    text-align: center;
    flex-direction: column; 
    margin: 5%;  
}

.catalog .card_cat   {
    align-items: center;
}

.catalog .card_cat .card {
    background-color: #FFE24D;
    text-align: center;
    flex-direction: row; 
    margin: 3.5%;  
    width: 150%;
    height: 50%;
    align-items: center;
    padding: 2.5%;
}

.catalog .card_cat .card img {
    width: 50%;
    height: 85%;
}





.space {
    height: 15vw;
    background-color: #4A0F8A;
    background-image: url(images/main_page/space.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}





.wish {
    justify-content: center;
    background-color: #FFFFFF;
    padding: 2.5% 0;
}

.wish div {
    flex-direction: column;
    padding: 5%;
}

.wish img {
    width: 50%;
    padding: 0 3%;
}





.start {
    justify-content: center;
    background-color: #FFE24D;
    flex-direction: row;
}

.start .start_cat {
    width: 25%;
    padding: 3%;
}

.start .start_card {
    flex-direction: column;
    justify-content: center;
}

.start .start_card p {
    align-items: center;
    align-content: center;
}

.start_button {
    background-color: #FF4A26;
    border: none;
    text-align: center; 
    cursor: pointer;
    margin-top: 3%;
    margin-left: 60%;
    margin-right: 15%;
    height: 20%;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 2vw;
    font-family: "Century Gothic";
}

.start_button a{
    color: #FFFFFF;
    font-size: 2vw;
    font-family: "Century Gothic";
}





.footer {
    justify-content: center;
    background-color: #FFFFFF;
}

.footer p {
    margin: 2.5%;
    width: 100%;
    text-align: center;
}

.footer p a {
    margin: auto 2.5%;
}





img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%; 
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 1.5vw;
    font-family: "Century Gothic";
}

h1 {
    align-items: center;
    font-size: 3vw;
    font-family: "Century Gothic";
}

h2 {
    align-items: center;
    font-size: 2vw;
    font-family: "Century Gothic";
    margin: 5% 0;
}

h3 {
    font-size: 1.5vw;
    font-family: "Century Gothic";
}

/* ссылки */
a {
    color: black; 
    text-decoration: none;
}

/* посещенные ссылки 
a:visited {
    color: white; 
}*/

/* активные ссылки */
a:active {
    color: black; 
}

/*@media screen and (max-width: 768px) {

}*/