body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #4A0F8A;
    background-image: url(images/main_page/space.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;

}

.registration_login {
    border-radius: 7%;
    background-color: #3F51E8;
    text-align: center;
    width: 35vw;
}

h1 {
    text-align: center;
    font-size: 3vw;
    font-family: "Century Gothic";
    color: #FFFFFF;
    margin: 0%;
    padding: 3%;
}

input[type=text], input[type=password] {
    width: 85%;
    margin: 3.5% 0;
    border: none;
    background: #3F51E8;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
    color: #FFFFFF;
    font-size: 2vw;
}

::placeholder {
    color: #FFFFFF;
}

.registration_login a {
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
}

.my_button {
    background-color: #FFFFFF;
    color: black;
    padding: 3% 3%;
    margin: 5% 0;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    font-size: 2vw;
    font-family: "Century Gothic";
    font-weight: bold;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 1.5vw;
    font-family: "Century Gothic";
}

.index {
    padding-bottom: 3%;
}

.index a {
    font-size: 1vw;
    font-family: "Century Gothic";
}

@media screen and (max-width: 768px) {
    .registration_login {
        width: 85vw;
    }

    .registration_login a {
        font-size: 2vw;
    }

    .index a {
        font-size: 1.5vw;
    }
}
